* {
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-size: 1.6rem;
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
}

.calculator {
    width: 70rem;
    height: 70rem;
    margin: 10rem auto 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    gap: 3rem;
}

.display_box {
    width: 100%;
    height: 30%;
    border: 2px solid black;
    background: #000;
    border-radius: 15px;

}


.display {
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    margin: 1rem;
    border: 2px solid black;
    border-radius: 15px;
    background: linear-gradient(to bottom, #444 0%, #222 100%);
    color: #ff6700;
    padding: 1.6rem;
    font-size: 8rem;
    text-align: right;
    font-family: monospace;
}

.accumulated_display {
    width: 100%;
    height: 35%;
    background-color: transparent;
    font-size: 5.25rem;
}

.current_display {
    width: 100%;
    height: 65%;
    background-color: transparent;
    padding: 0.25rem;
    font-size: 9.25rem;
}

.controls {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    gap: 1.5rem;
}

.controls_columns {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.pads {
    border: 1px solid black;
    font-size: 4rem;
    font-family: monospace;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    background: linear-gradient(to bottom, teal 0%, cyan 100%);
    color: #ff6700;
}

#equal {
    height: 50%;
}